* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #1d1c1c; 
    color: #faf8f8; 
}



main {
    flex: 1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header > .container,
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray; 
}



header p {
    font-size: 24px;
    color: #fff;
}

.nav-links {
    gap: 20px;
    list-style: none;
}

.nav-links li a {
    font-size: 12px;
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #c0c0c0; 
}

#home {
    height: 80vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.details-container,
.img-container {
    flex: 1 50%;
}

.details-container > * {
    margin-bottom: 10px;
}

.home-description {
    text-align: justify;
    font-size: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.home-button {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: gray;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.home-button:hover {
    background-color: #c0c0c0; 
}

#about-me {
    padding-top: 60px;
}

section h2 {
    padding: 30px 0;
    color: #fffdfd; 
}

/* Projects Section */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    flex: 1 0 200px;
    height: 400px;
    text-align: center;
    border: 2px solid gray; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    position: relative;
}

.img-container img {
    width: 500px;
    height: 350px;
}

.project-item:hover {
    transform: scale(1.05);
}

.text {
    padding: 10px;
    width: 100%;
    background-color: gray; 
    border-radius: 0 0 8px 8px;
    color: #000000; 
    position: absolute;
    bottom: 0;
    right: 0;
}

#contact .form-container {
    margin: 0 auto;
    width: 60%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form,
.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    background-color: transparent;
    border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
    caret-color: rgb(254, 252, 252);
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    border: 2px solid gray;
    caret-color: gray;
    color: #fbf8f8; 
}

.contact-form button {
    border: none;
    outline: none;
    background-color: gray; 
    color: #ffffff; 
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.contact-form button:hover {
    background-color: #c0c0c0; 
}

.contact-form textarea {
    resize: none;
}


/* FOOTER */
footer {
    padding: 30px;
    text-align: center;
    color: white;
    background-color: gray;
}

.socials,
.footer-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials {
    padding: 10px 0 10px;
}

.footer-nav {
    padding: 10px 0 30px;  
}

.footer-nav li a {
    color: white;
    text-decoration: none;
}

footer > p {
    font-size: .8rem;
}

@media screen and (max-width: 800px) {
    #home {
        flex-wrap: wrap;
        gap: 0px;
        padding-top: 50px;
    }
    .details-container,
    .img-container {
        flex: 1 100%;
    }

    .project-item {
        width: 50%;
    }

    #contact .form-container {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .nav-links li a {
        font-size: 10px;
    }

    #contact .form-container {
        width: 90%;
    }
}
